/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
  }

  main {
    flex: 1 0 auto;
  }

  #map {
    height:100%;
    background: #000;
  }

  img{
    max-width: 100%;
  }
  
  .ad_index{
    
    padding:15px;
    border:1px solid grey;
    margin:0px 0px 20px 0px;
    border-radius:5px;
  }
  .ad_index h5{
    float:left;
   
  }
  
  .ad_index em{
    float:right;
    background:red;
    padding:4px;
    border-radius:3px;
    color:#fff;
    font-size:1.4em;
    margin-top:10px;
  }
  .ad_index img{
    margin:5px;
  }
  .address{
    font-weight:bold;
    font-style: italic;
  }